# TensorFlow: pick based on Python version
tensorflow-cpu==2.15.0.post1 ; python_version < "3.12"
tensorflow==2.20.0rc0        ; python_version >= "3.12"

pandas
numpy
scikit-learn
tensorboard
matplotlib

streamlit
